<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../HTML/style.css"/>
    <title>Groupie</title>
</head>
<body>
  <br>
  <form method="GET">
      <input type="text" id="search" name="query" list="suggestions" placeholder="Search for an artist...">
      <datalist id="suggestions">
          {{range .Suggestions}}
          <option value="{{.}}"></option>
          {{end}}
      </datalist>
      <button type="submit">Search</button>
  </form>

  <div class="grid-container">
    {{range .Artists}}
    <div class="artist-card">
      <a href="./artist?id={{.ID}}"><img class="artist-image" src="{{.Image}}" alt="Artist Image"></a>
      <h2 class="artist-name">{{.Name}}</h2>
    </div>
    {{end}}
  </div>
</body>
</html>